<% # TODO: show avatar of user tweeting %>
<%= form_for :ditto, url: dittos_path do |f| %>
  <p>
    <% # TODO: trim text to 138 charactors %>
    <%= f.text_area :text, value: "#{@thank.text} #{thanks_show_url(@thank)}", require: true %>
  </p>

  <p>
    <%= f.submit 'Tweet' %>
  </p>
<% end %>
