<footer>
  <p>Made with &hearts; in Madison, WI</p>
  <p>
    <%= link_to 'Suggest Thank You', 'https://goo.gl/forms/D8N4bQsz3gl7kbKo2' %>
    <%= link_to 'Feedback', 'https://goo.gl/forms/ALdFYPaVuQr7lEkN2' %>
    <%= link_to 'Donate', 'https://goo.gl/forms/XHVJAy7zQaB6NrVN2' %>
  </p>
</footer>
