<div class="notifications mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
  <h1>Notifications</h1>

  <div class="mdc-switch mdc-switch--disabled">
    <input type="checkbox" id="deeds" class="mdc-switch__native-control" disabled />
    <div class="mdc-switch__background">
      <div class="mdc-switch__knob"></div>
    </div>
  </div>
  <label for="deeds" class="mdc-switch-label">Tell me about new Deeds</label>
  <p class='not-supported hidden'>It looks like your browser doesn't support push notifications.</p>
  <p>
    Notifications are browser and device specific. If you clear your browser data, change browser, or get a new phone you will have to enable them again. Currently Chrome, Firefox, and Opera are supported.
  </p>
</div>
