@import 'theme';

header {
  z-index: 1;

  .content {
    max-width: 600px;
    margin: 0 auto;
  }

  .avatar {
    border-radius: 4px;
  }

  a, span {
    text-decoration: none;
  }

  .auth {
    @include mdc-theme-prop(color, text-primary-on-primary);
  }

  .mdc-toolbar__title a {
    @include mdc-theme-prop(color, text-primary-on-primary);
  }
  .mdc-simple-menu {
    margin-top: 64px;
  }
}
