.tweet {
  .avatar, .logo {
    width: 42px;
    height: 42px;
    border-radius: 4px;
  }

  .mdc-card__primary, .avatar {
    float: left;
  }

  a {
    text-decoration: none;
  }

  .mute {
    color: #9E9E9E;
  }

  .title {
    color: #424242;
    font-size: 18px;
  }
}
