<h1>New Thank You</h1>
<%= form_for :action, url: actions_path do |f| %>
  <p>
    <%= f.label :status_url %><br>
    <%= f.text_field :status_url %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
