<% if flash.any? %>
  <% flash.each do |name, message| %>
    <div class='mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-12 card-<%= name %>'>
      <section class="mdc-card__primary">
        <h3 class="mdc-card__title mdc-card__title--large"><%= message %></h3>
      </section>
    </div>
  <% end %>
<% end %>
