<p>
  <strong><%= link_tweet_text(deed.text) %></strong>
</p>

<p>
  <%= render 'links/links', deed: deed, links: deed.links, user: deed.user %>
<p>

<p>
<p>
  <%= render 'new_link', deed: deed %>
<p>
  <span>Thanked by</span>
  <%= render 'thanks/thanks', thanks: deed.thanks, more: deed.thanks_count - 10 %>
<p>
