/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material-components-web/dist/material-components-web
 *= require_tree .
 *= require_self
 */

body, html {
  margin: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid silver;
  padding: 8px;
  margin-bottom: 48px;
}

footer {
  border-top: 1px solid silver;
  padding: 8px;
  margin-top: 48px;
}

footer a {
  padding-right: 8px;
}

textarea {
  width: 80%;
  min-height: 80px;
}

.user-dropdown {

}

.error {
  border: 1px solid red;
  padding-left: 16px;
}

.warning {
  border: 1px solid yellow;
  padding: 16px;
}

.notice {
  border: 1px solid green;
  padding: 16px;
}
