/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material-components-web/dist/material-components-web
 *= require_tree .
 *= require_self
 */

@import 'material/mdc-toolbar';

$mdc-theme-primary: #2196F3;
$mdc-theme-accent: #F44336;
$mdc-theme-background: #fff;

@import "@material/theme/mdc-theme";

* {
  font-family: 'Roboto', sans-serif;
}

body, html {
  margin: 0;
  @include mdc-theme-prop(background-color, background);
}

a {
  @include mdc-theme-prop(color, primary)
}

header a, header span {
  text-decoration: none;
}

.error-text {
  color: #F44336;
}

header .auth {
  @include mdc-theme-prop(color, text-primary-on-primary);
}

header .mdc-toolbar__title a {
  @include mdc-theme-prop(color, text-primary-on-primary);
}

.card-notice {
  background-color: #4CAF50;
}

.card-warning {
  background-color: #FFEB3B;
}

.card-error {
  background-color: #F44336;
}

header .mdc-simple-menu {
  margin-top: 32px;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

h1 a {
  text-decoration: none;
}

.mdc-card .mdc-card__primary a {
  text-decoration: none;
}

.error {
  border: 1px solid red;
  padding-left: 16px;
}

.warning {
  border: 1px solid yellow;
  padding: 16px;
}

.notice {
  border: 1px solid green;
  padding: 16px;
}
