/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material-components-web/dist/material-components-web
 *= require_tree .
 *= require_self
 */

@import 'material/mdc-toolbar';
@import 'theme';

* {
  font-family: 'Roboto', sans-serif;
}

body, html {
  margin: 0;
  @include mdc-theme-prop(background-color, background);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  @include mdc-theme-prop(color, primary)
}

.error-text {
  color: #F44336;
}

footer {
  margin: 0 auto;
  text-align: center;
}

.card-notice {
  background-color: #4CAF50;
}

.card-warning {
  background-color: #FFEB3B;
}

.card-error {
  background-color: #F44336;
}


main {
  max-width: 600px;
  margin: 0 auto;
}

.content {
  flex: 1;
}

h1 a {
  text-decoration: none;
}

.mdc-card .mdc-card__primary a {
  text-decoration: none;
}

.error {
  border: 1px solid red;
  padding-left: 16px;
}

.warning {
  border: 1px solid yellow;
  padding: 16px;
}

.notice {
  border: 1px solid green;
  padding: 16px;
}

.mdc-card__actions {
  a {
    white-space: nowrap;
  }

  a.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
  }
}
