// Place all the styles related to the Thanks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form#new_thank {
  .mdc-card__actions {
    justify-content: flex-end;
  }


  .error-text {
    color: #F44336;
  }

  .mdc-textfield, .field_with_errors{
    width: 100%;
  }

  div#deed_url {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .avatar {
    width: 42px;
    height: 42px;
    border-radius: 4px;
  }

  .mdc-card__primary, .avatar {
    float: left;
  }

  .mute {
    color: #9E9E9E;
  }

  .title {
    color: #424242;
    font-size: 18px;
  }
}

img.profile {
  border-radius: 4px;
  margin: 4px 4px 4px 0;
}
