// Place all the styles related to the Thanks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form#new_thank{
  .mdc-card__actions {
    float: right;
  }

  .mdc-textfield, .field_with_errors{
    width: 100%;
  }

  textarea {
    width: 98%;
  }
}

img.profile {
  border-radius: 4px;
  margin: 4px 4px 4px 0;
}
