<p>
  Details:
  <% links.each do |link| %>
    <span><%= link_to link.text, link.url %><span>
  <% end %>
  <% if current_user == user %>
    <span><%= link_to 'Add link', links_new_url %></span>
  <% end %>
<p>
