<% @thanks.each do |thank| %>
  <p>
    <span><%= thank.text %></span>
    <br>
    <span>Thanks by <%= render 'dittos', dittos: thank.dittos.limit(10), more: thank.dittos.count - 10 %></span>
    <span><%= link_to 'Read more', thanks_show_path(thank) %></span>
  </p>
  <br>
<% end %>
