Thank you @foo for

<%= form_for :thanks, url: create_thank_path(@tweet) do |f| %>
  <%= hidden_field_tag :tweet_id, @tweet.id %>

  <%= f.text_field :text %>

  <p>
    <%= f.submit 'Create Thank You' %>
  </p>
<% end %>
