<%= form_for :thanks, url: thanks_path do |f| %>
  <p>
    <%= f.text_area :text, value: 'Thank you @ for ', require: true %>
  </p>
  <p>
    <%= f.text_field :in_reply_to_status_id %>
  </p>

  <p>
    <%= f.submit 'Create Thank You' %>
  </p>
<% end %>
