<p>
  <%= @thank.text %>
</p>

<p>
  <span>Thanked by <%= @thank.dittos.count %> people</span>
<p>

<p>
  <span><%= link_to "Thank @#{@thank.name}", dittos_new_path(@thank) %></span>
<p>

<p>
  <span><%= link_to 'All thanks', thanks_path %></span>
<p>
